---
// This is the server-side section
import Layout from '@/layouts/Layout.astro';
import { QueryProvider } from '@/components/QueryProvider.tsx';
import IDE from '@/components/IDE.tsx';
---

<Layout title="Python REPL IDE" client:load >
	<QueryProvider client:load >
		<IDE client:load />
	</QueryProvider>
	<!-- <html lang="en">
		<head>
			<meta charset="utf-8" />
			<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
			<link rel="icon" href="/favicon.ico" />
			<meta name="viewport" content="width=device-width" />
			<meta name="generator" content={Astro.generator} />
			<title>Astro</title>
		</head>
		<body>
			<h1>Astro</h1>
			<div class="app" id="app"></div>
		</body>
	</html> -->
</Layout>
